@model List<Rings>
@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-success btn">Öffne Tür</div>
<br/>
<br />
<table cellspacing="1" width="50%">
    <tr>
        <th>Protokoll</th>
    </tr>

    @foreach (Rings ring in Model)
    {
        <tr>
            <td>@ring.timestamp.ToLocalTime()</td>
        </tr>
    }

</table>

